:root {
  --button-bg-color: hsl(216, 23%, 14%);
  --button-pressed: hsla(6, 88%, 63%, 0.301);
  --main-bg-color: hsl(216, 23%, 19%);
  --green-accent: hsl(95, 40%, 65%);
  --red-accent: hsl(6, 88%, 63%);
  --blue-accent: hsl(220, 100%, 68%);
  background-color: var(--main-bg-color);
}

.border {
  border: 1px solid blue;
}

#A {
  background-color: red;
  color: black;
}

#A:active {
  color: white;
}

#B {
  background-color: limegreen;
  color: black;
}

#B:active {
  color: white;
}

#C {
  background-color: yellow;
  color: black;
}


#C:active {
  color: white;
}

#D {
  background-color: blue;
  color: black;
}

#D:active {
  color: white;
}


@media (orientation: landscape) {
  #nums-display {
    display: none;
  }

  .container {
    width: 100vw;
    height: 97vh;

    overflow: hidden;

    grid-template-areas:
      "power-btn z z z vol nums nums nums nums ch y y y source-btn"
      "q q q vol e nums nums nums nums m ch r r r"
      "q q q mute e nums nums nums nums m chlist r r r"
      "w dpad dpad dpad b nums nums nums nums n misc misc misc t"
      "w dpad dpad dpad b nums nums nums nums n misc misc misc t"
      "w dpad dpad dpad b nums nums nums nums n misc misc misc t";
    -ms-grid-columns: repeat(1fr, 13);
    grid-template-columns: repeat(1fr, 13);
  }
}


@media (orientation: portrait) {
  .container {
    aspect-ratio: 10/16;

    grid-template-areas:
      "power-btn power-btn blank source-btn nums-display nums-display"
      "power-btn power-btn blank source-btn nums-display nums-display"
      "power-btn power-btn blank source-btn nums-display nums-display"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "nums nums nums nums nums nums"
      "vol vol mute chlist ch ch"
      "vol vol mute chlist ch ch"
      "vol vol misc misc ch ch"
      "vol vol misc misc ch ch"
      "vol vol misc misc ch ch"
      "vol vol misc misc ch ch"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad";
    -ms-grid-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  }

  .container-hidenums {
    aspect-ratio: 13/16;

    grid-template-areas:
      "power-btn power-btn blank source-btn nums-display nums-display"
      "power-btn power-btn blank source-btn nums-display nums-display"
      "power-btn power-btn blank source-btn nums-display nums-display"
      "vol vol mute chlist ch ch"
      "vol vol mute chlist ch ch"
      "vol vol misc misc ch ch"
      "vol vol misc misc ch ch"
      "vol vol misc misc ch ch"
      "vol vol misc misc ch ch"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad"
      "dpad dpad dpad dpad dpad dpad";
    -ms-grid-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  }

  #nums {
    display: none;
  }

  #vol button, #ch button {
    aspect-ratio: 2/3;
  }

  /* -------------------------------------------- */

  button {
    width: 100%;
    /* height: 100%; */
  }


  #nums table {
    width: 100%;
    height: 100%;
  }

  #vol {
    height: 100%;
  }


  #vol button, #ch button {
    /* aspect-ratio: auto; */
    /* height: 90%; */
  }

  #ch {
    height: 100%;
  }

  #misc table {
    width: 100%;
    height: 100%;
  }

  #dpad table {
    width: 100%;
    height: 100%;
  }
}

button {
  background-color: var(--button-bg-color);
  border: 0;
  color: var(--green-accent);
  border-radius: 30%;
  /* aspect-ratio: 1; */
}

button:active {
  color: white;
}

.container {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.square {
  aspect-ratio: 1;
}

#power {
  grid-area: power-btn;
}

#power-btn {
  color: var(--red-accent);
}

#power-btn:active {
  color: white;
}

#nums-display {
  grid-area: nums-display;
}

#nums-btn {
  color: var(--blue-accent);
}

#source {
  grid-area: source-btn;
}

#nums {
  grid-area: nums;
}


#nums td {
  height: 25%;
  width: 33.3%;
}

#nums button {
  color: var(--blue-accent);
  border-radius: 100%;
  aspect-ratio: 1;
}

#vol {
  grid-area: vol;
}

#mute {
  grid-area: mute;
}

#ch {
  grid-area: ch;
}

#chlist {
  grid-area: chlist;
}

#misc {
  grid-area: misc;
}


#misc td {
  width: calc(100%/4);
  height: calc(100%/3);
}

#misc button {
  height: 100%;
  width: 100%;
}

#dpad {
  grid-area: dpad;
}

#dpad td {
  height: 25%;
  width: 33.3%;
}

#dpad button {
  aspect-ratio: 1;
}